<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a th:href="@{/product}">
        back to list
    </a>
</p>


<table>
  <tr>
      <td><label >Name</label></td>
      <td> <label th:text="${product.name}"></label></td>
  </tr>
    <tr>
        <td><label >Price</label></td>
        <td> <label th:text="${product.price}"></label></td>
    </tr>
    <tr>
        <td><label >Quantity</label></td>
        <td> <label th:text="${product.quantity}"></label></td>
    </tr>
</table>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>